@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  /* Primary colors */
  --Light-red: #ff8c66;
  --Soft-blue: #56c2e6;
  --Dark-red: #ff5c7c;
  --Lime-green: #4acf81;
  --Violet: #7536d3;
  --Soft-Orange: #f1c65b;
  --Blue: #5847eb;
  /* Neutral Colors */
  /* Blue shade */
  --Primary-blue-100: #bdc1ff;
  --Primary-blue-200: #6f76c8;
  --Primary-blue-300: #1c1f4a;
  --Primary-blue-400: #0f1424;
  /* other colors */
  --white: #fff;
  /* Typography */

  /* Work and Play */
  --font-size-1: 18px;
  --font-family: Rubik;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  /* other styles */
  letter-spacing: 1.3px;
  /* rest of the vars */
  --background-color: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box-shadow */

  --shadow-2: --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Rubik,sans-serif;
  background: #1c1f4a;
}
/* Utility */
h1,
p{
  margin : 0;
  font-weight: 400;
}
/* border-radius */
.br-radius{
  border-radius: 20px;
}
/* Container */
.container{
  /* margin: 1%; */
  display: grid;
    display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 10px auto 20px;
      grid-template-areas:
        "a a b c d"
        "a a b c d"
        "a a e f g"
        "a a e f g";
      grid-gap: 5px;
  /* height:600px; */
  width: 100%;
justify-content: space-evenly;
  align-items: start;
  /* justify-items: center; */
  /* padding:2rem; */
  height: 100vh;
  background-color: #fff;
}


/* large-container */
.large-cards{
  grid-area: a;
  color:#fff;
  border-radius: 20px;
  width:300px;
  height:640px;
  margin: 1.5rem 1.5rem 0 1.5rem ;
  background-color: var(--Primary-blue-300);
}
.lg-card{
  background-color: var(--Blue);
  padding:4.5rem 2rem;
  height:300px;
  border-radius:20px;
}
.title{
  margin:40px 0;
}
.title h1{
  font-size: 40px;
}
.lg-card img{
  width:50%;
  margin-bottom:2rem;
  border: 5px solid #fff;
  border-radius:50%;
}
.lg-card-content{
  padding: 2rem;
 
}
.lg-card-content p{
  margin-top: 0;
  padding:.3rem;
}
/* Small Cards */
.small-cards{
  margin-top:1.5rem;
}

.sm-card{
  background-color: var(--Primary-blue-300);
  padding:2rem;
  margin:3rem 0 0 0  ;
  color:#fff;
}

.sm-card .icon h2{
  font-size: 40px;
  text-transform: capitalize;
  font-Weight:300;
}

.background-card{
  width:300px;
}


.work {
  grid-area: b;
  background: var(--Light-red);
  background-image: url(/images/icon-work.svg);
  background-repeat: no-repeat;
  /* background-position: right; */
  
}

.play {
  grid-area: c;  
  background: var(--Soft-blue);
  background-image: url(/images/icon-play.svg);
  background-repeat: no-repeat;
}

.study {
  grid-area: d;
  background: var(--Dark-red);
  background-image: url(/images/icon-study.svg);
  background-repeat: no-repeat;
}

.exercise {
  grid-area: e;
  background: var(--Lime-green);
  background-image: url(/images/icon-exercise.svg);
  background-repeat: no-repeat;
}

.social {
  grid-area: f;
  background: var(--Violet);
  background-image: url(/images/icon-social.svg);
  background-repeat: no-repeat;
}

.self-care {
  grid-area: g;
  background: var(--Soft-Orange);
  background-image: url(/images/icon-self-care.svg);
  background-repeat: no-repeat;
}