@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  /* Primary colors */
  --Light-red: #ff8c66;
  --Soft-blue: #56c2e6;
  --Dark-red: #ff5c7c;
  --Lime-green: #4acf81;
  --Violet: #7536d3;
  --Soft-Orange: #f1c65b;
  --Blue: #5847eb;
  /* Neutral Colors */
  /* Blue shade */
  --Primary-blue-100: #bdc1ff;
  --Primary-blue-200: #6f76c8;
  --Primary-blue-300: #1c1f4a;
  --Primary-blue-400: #0f1424;
  /* other colors */
  --white: #fff;
  /* Typography */

  /* Work and Play */
  --font-size-1: 18px;
  --font-family: Rubik;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  /* other styles */
  letter-spacing: 1.3px;
  /* rest of the vars */
  --background-color: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box-shadow */

  --shadow-2: --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik,sans-serif;
  background: var(--Primary-blue-400);
}
/* Utility */
h1,
p{
  margin : 0;
  font-weight: 400;
}
/* border-radius */
.br-radius{
  border-radius: 20px;
}
.p-text{
  text-transform: capitalize;
  color: var(--Primary-blue-100) ;
  opacity: .7;
  font-weight: 100;  
}

/* Container */
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #fff; */
  
}


/* large-container */
.large-cards{
  grid-area: a;
  order: 1;
  color:#fff;
  border-radius: 20px;
  width:30%;
  margin: 1rem 1.5rem 0 ;
  background-color: var(--Primary-blue-300);
}
.lg-card{
  background-color: var(--Blue);
  padding: 1.1rem 2rem 6rem 2rem;
  height: 49%;
  border-radius: 20px;
}
.flex h1{
  font-size: 40px;
}
.lg-card img{
  width: 50%;
  margin-bottom: 2rem;
  border: 5px solid #fff;
  border-radius: 50%;
}
.lg-card-content{
  padding: 2rem 2rem 2rem 0;
}
.lg-card-content p{
  margin-top: 0;
  cursor: pointer;
  padding: .7rem;
  color: var(--Primary-blue-100);
}
.lg-card-content p:hover{
  color:#fff;
}
.lg-card-content p:active{
    color: var(--white);
    transform:scaleY(1.2);
}
/* Small Cards */
.small-cards{
  margin: 1.5rem 0 2rem;
}

.sm-card{
  background-color: var(--Primary-blue-300);
  padding: 1.8rem;
  margin: 3rem 0  0  ;
  color:#fff;
}

.sm-card .icon h2{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 2rem  0;
}
.sm-card  .hours {
 font-size: 3.2rem;
 margin-bottom: 1.2rem;
 
 font-weight: 100;
}
.small-cards :hover {
  background-color: #41467b ;
  transition:cubic-bezier(1.2, -0.28, 0.735, 0.045)s;
 cursor:pointer;
}
.sm-card p {
  width: 90%;
}

.icon .option-icon{
  background-image: url(./images/icon-ellipsis.svg);
  background-repeat: no-repeat;
  color:none;
  background-position: top .5rem  right 10%;
}

.background-card{
  width: 90%;
}


.work {
  grid-area: b;
  order: 2;
  background: var(--Light-red);
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: top  right 10% ;
  border-radius: 30px;
}
.play {
  grid-area: c;
  order: 3;
  background: var(--Soft-blue);
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 30px;
}

.study {
  grid-area: d;
  order: 4;
  background: var(--Dark-red);
  background-image: url(./images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 30px;
}

.exercise {
  grid-area: e;
  order: 5;
  background: var(--Lime-green);
  background-image: url(./images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 30px;
}

.social {
  grid-area: f;
  order: 6;
  background: var(--Violet);
  background-image: url(./images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 30px;
}

.self-care {
  grid-area: g;
  order: 7;
  background: var(--Soft-Orange);
  background-image: url(./images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 30px;
}
@media screen and (min-width: 989px) {
  main{
      display: grid;
      place-items: center;
      /* width: 80%; */
      margin:50px 100px;
      
    }
    .container{
      display: grid;
    background-color: #fff;

      grid-template-columns: repeat(4, 1fr);
      
      grid-template-areas:
        "a  b c d"
        "a  e f g";
        place-items: center;
  }
  .large-cards{
    width: 23vw;
    height: 90%;
    margin-top:-.4rem;
  }
    
  .lg-card-content{
    padding: 2rem;
  }
  .lg-card-content p{
      font-size: 18px;
    }
}
@media screen and (max-width: 989px){
  .flex{
    display: flex;
  }
  .flex .title{
    margin-top: 1rem;
  }
  .flex h1{
    font-size: 20px;
    font-weight: 100;
 
  }
  .flex p{
    font-size: 10px ;
  }
  
  .large-cards{
    width: 90%;
    height: 1%;
  }
  .lg-card{
    height: 1vh;
    margin-top: 0 ;
  }
    .lg-card .img {
    width: 5rem;
    height: 5rem;
    margin-right: 1.2rem;
    object-fit: cover;
    }
    .lg-card-content {
    display: flex;
    justify-content:space-between;
    margin:0 3rem;
  }
  .lg-card-content p{
      font-size: 20px;
    }
}
